#reservation-btn {
  background: rgb(234,178,54);
  color: white;
  border:  2px rgb(234,178,154);
  height: 135px;
  width: 235px;
  border-radius: 50%;
}

#reservation-btn:hover{
  cursor: pointer;
  background: rgb(234,178,104);
  border: 1px solid white;
}

tr.reservations:not(:first-child):hover{
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}