adal
applicationinsights
argcomplete
azure-cli-core
azure-cli-telemetry
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-datafactory
azure-mgmt-resource
azure-storage-blob
bcrypt
certifi
cffi
chardet
colorama
cryptography
et-xmlfile
humanfriendly
idna
importlib-metadata
isodate
jdcal
jmespath
knack
msal
msal-extensions
msrest
msrestazure
numpy
oauthlib
openpyxl
pandas
paramiko
pkginfo
portalocker
pycparser
Pygments
PyJWT
PyNaCl
pyOpenSSL
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-oauthlib
six
tabulate
urllib3
xlrd
XlsxWriter
zipp
pysftp==0.2.9