<!DOCTYPE html>
<html lang="hu">

  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="/js/login.js"></script>
    <title>Log in</title>
  </head>

  <div id="content">
    <div class="login-form-container">
      <form class="login-form">
        <div class="title-container">
          Log in
        </div>
        <div id="err-msg"></div>
        <input type="text" name="email" id="email" placeholder="Email" type="email" value="deim1612@trains.com">
        <input type="password" name="password" id="password" placeholder="Password" value="root">
        <input id="login-btn" type="button" value="Log in">
        <a href="./register">Create an account</a>
      </form>
    </div>
  </div>
    
</html>